.cut {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    >*{will-change: scroll-position;}
    &.active {
        pointer-events: auto;
    }

    ul {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: perspective(150px) translateZ(0px);
    }

    li {
        position: absolute;
        transform: perspective(150px) translateZ(0);
        img {
            width: 100%;
        }
    }

    &.fadeOut {
        display: none;
    }
    .clip {
        position: absolute;
        left: 0;
        top: 0;
        width: auto;
        height: 100%;
        width: 100%;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 100;
        pointer-events: none;
    }
    .main {
        li {
            &.floating {
                cursor: pointer;
            }
            &:hover {
                > div {
                    display: block;
                }
            }
            img {
                position: relative;
                z-index: -1;
            }
            > div {
                display: none;
                position: absolute;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                top: 50%;
                margin-top: -15px;
                text-align: center;

                > div {
                    background: #000;
                    padding: 7px 15px 9px;
                    display: inline-block;
                    span {
                        color: #ccc;
                        font-size: 13px;
                        display: block;
                        text-transform: uppercase;
                    }
                }
                p {
                    display: inline-block;
                    white-space: nowrap;
                    color: #eee;
                    font-size: 15px;
                    margin: 0;
                }
            }
        }
    }
}

#cut-1-m {
    .block {
        &:first-child {
            li {
                &:first-child {
                    img {
                        width: 55%;
                        margin-right: -65px;
                    }
                }
                &:last-child {
                    margin-top: -85px;
                }
            }
        }

        &:nth-child(2) {
            li {
                &:last-child {
                    margin-top: -100px;
                    text-align: right;
                    z-index: -1;
                    img {
                        width: 55%;
                    }
                }
            }
        }

        &:nth-child(3) {
            li {
                &:first-child {
                    margin-bottom: -35px;
                    z-index: 1;
                }
                &:last-child {
                    img {
                        width: 45%;
                    }
                }
            }
        }

        &:nth-child(4) {
            li {
                &:last-child {
                    margin-top: -120px;
                    img {
                        width: 65%;
                    }
                }
            }
        }
        &:nth-child(5) {
        }
        &:nth-child(6) {
            img {
                width: 60%;
            }
        }

        &:nth-child(7) {
            img {
                width: 60%;
            }
        }

        &:nth-child(8) {
            ul {
                height: 325px;
                position: relative;
                margin-bottom: 75px;
            }
            li {
                position: absolute;
                img {
                    width: 50%;
                }
                &:first-child {
                    right: 0;
                    bottom: -35px;
                    text-align: right;
                    z-index: 2;
                    img {
                        width: 75%;
                    }
                }

                &:nth-child(2) {
                    left: 0;
                    bottom: 0;
                    text-align: left;
                    z-index: 1;
                    img {
                        width: 60%;
                    }
                }
                &:nth-child(4) {
                    left: 0;
                    top: 0;
                    text-align: left;
                }
                &:nth-child(3) {
                    left: 0;
                    top: 0;
                    img {
                        width: 80%;
                    }
                }
                &:nth-child(5) {
                    left: 0;
                    top: 0;
                    text-align: left;
                }
                &:last-child {
                    right: 0px;
                    top: 45px;
                    z-index: -1;
                    text-align: right;
                }
            }
        }
    }
}
#cut-2-m {
    .block {
        &:first-child {
            li {
                &:first-child {
                    img {
                        width: 45%;
                        margin-left: -65px;
                    }
                }
                &:last-child {
                    margin-top: -55px;
                }
            }
        }


        &:last-child {
            ul {
                height: 325px;
                position: relative;
            }
            li {
                position: absolute;
                img {
                    width: 50%;
                }
                &:first-child {
                    left: 0;
                    top: 80px;
                    text-align: left;
                    img{
                        margin-left: 25px;
                        width: 30%;
                    }
                }

                &:nth-child(2) {
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                    img {
                        width: 80%;
                    }
                }
                &:nth-child(3) {
                    left: 0;
                    bottom: 65px;
                    img {
                        margin-right: -25px;
                        width: 50%;
                    }
                }
                &:nth-child(4) {
                    left: 0;
                    top: 0;
                    text-align: left;
                    z-index: -1;
                    img {
                        width: 70%;
                    }
                }
            
            }
        }
    }
}
#cut-3-m {
    .block {
        &:first-child {
            li {
                &:last-child {
                    margin-top: -100px;
                    z-index: -1;
                }
            }
        }

        &:nth-child(2) {
            li {
                &:last-child {
                    margin-top: -100px;
                }
            }
        }

        &:nth-child(3) {
            li {
                &:first-child {
                    margin-bottom: -100px;
                    margin-left: -25px;
                    width: 80%;
                }
            }
        }

        &:nth-child(4) {
            li {
                &:last-child {
                    margin-top: -140px;
                    img {
                        width: 50%;
                    }
                }
            }
        }

        &:nth-child(8) {
            ul {
                height: 325px;
                position: relative;
            }
            li {
                position: absolute;
                img {
                    width: 50%;
                }
                &:first-child {
                    right: 0;
                    bottom: 0;
                    text-align: right;
                    z-index: 1;
                }

                &:nth-child(2) {
                    left: 0;
                    bottom: 0;
                    text-align: left;
                    z-index: 1;
                    img {
                        width: 40%;
                    }
                }
                &:nth-child(4) {
                    left: 0;
                    top: 0;
                    text-align: left;
                }
                &:nth-child(3) {
                    left: 0;
                    bottom: 0;
                    img {
                        width: 80%;
                    }
                }
                &:nth-child(5) {
                    left: 0;
                    top: 0;
                    text-align: left;
                }
                &:last-child {
                    right: 55px;
                    top: 0;
                    text-align: right;
                }
            }
        }
    }
}
#cut-4-m {
    .block {
        &:first-child {
            li {
                &:first-child {
                    text-align: left;
                    img {
                        width: 45%;
                    }
                }
                &:last-child {
                    margin-top: -205px;
                    text-align: right;
                    img{
                        width: 80%;
                    }
                }
            }
        }


        &:last-child {
            ul {
                height: 325px;
                position: relative;
            }
            li {
                position: absolute;
                img {
                    width: 50%;
                }
                &:first-child {
                    left: 0;
                    top: 0px;
                    text-align: left;
                    img{
                        margin-left: 25px;
                        width: 30%;
                    }
                }

                &:nth-child(2) {
                    right: 0;
                    top: 0;
                    z-index: 1;
                    img {
                        width: 30%;
                    }
                }
                &:nth-child(3) {
                    right: 35px;
                    bottom: 105px;
                    text-align: right;
                    img {
                        margin-right: -25px;
                        width: 45%;
                    }
                }
                &:nth-child(4) {
                    left: 0;
                    bottom: 25px;
                    text-align: right;
                    z-index: -1;
                    img {
                        width: 80%;
                    }
                }
                &:nth-child(5) {
                    left: 25px;
                    bottom: 0;
                    text-align: left;
                    z-index: -1;
                    img {
                        width: 60%;
                    }
                }
            
            }
        }
    }
}
