#cut-landing {
    z-index: 100;
    max-width: 1024px;
    margin: auto;
    height: 80vh;
    margin-top: 12vh;
    text-align: center;
    position: relative;
    transform: perspective(150px) translateZ(0px);

    &.show {
        .island {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    &.fadeOut {
        .main-logo {
            transition: 1.5s;
            opacity: 0;
            pointer-events: none;
        }

        .island {
            display: none;
        }
    }

    .main-logo {
    `1  1position: relative;
        z-index: 100;
        display: none;

        img {
            width: 130px;

            @media (max-width: $xs) {
                width: 90px;
            }
        }
    }

    .bg-items {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transform: scale(1);
        opacity: 0;
        transform-origin: center;
        z-index: 10;

        > li {
            transform-origin: center;
            position: absolute;
            transform: perspective(150px) translateZ(-10px);
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;

            > ul {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                li {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    img {
                        position: absolute;
                    }
                }
            }
        }
        // é›²
        .layer-1 {
            z-index: 10;
            transform: perspective(150px) translateZ(-200px);
            li {
                &:nth-child(1) {
                    img {
                        top: 40%;
                        left: -10%;
                    }
                }
                &:nth-child(2) {
                    img {
                        top: 5%;
                        right: 5%;
                    }
                }
                &:nth-child(3) {
                    img {
                        top: 3%;
                        left: 7%;
                    }
                }
                &:nth-child(4) {
                    img {
                        top: 50%;
                        right: -25%;
                    }
                }
            }
        }

        .layer-2 {
            z-index: 9;
            transform: perspective(150px) translateZ(-400px);
            li {
                @media (max-width: $xs) {
                    &:nth-child(even) {
                        img {
                            transform: translateX(-375px);
                        }
                    }
                    &:nth-child(odd) {
                        img {
                            transform: translateX(375px);
                        }
                    }
                }
                &:nth-child(1) {
                    img {
                        bottom: -10%;
                        right: -10%;
                    }
                }
                &:nth-child(2) {
                    img {
                        bottom: -5%;
                        left: -5%;
                    }
                }
                &:nth-child(3) {
                    img {
                        bottom: 3%;
                        left: 7%;
                    }
                }
                &:nth-child(4) {
                    img {
                        top: -50%;
                        left: -25%;
                    }
                }
            }
        }

        .layer-3 {
            z-index: 10;
            transform: perspective(150px) translateZ(-300px);
            li {
                &:nth-child(1) {
                    img {
                        top: -10%;
                        left: -13%;
                    }
                }
                &:nth-child(2) {
                    img {
                        bottom: -25%;
                        right: -25%;
                    }
                }
                &:nth-child(3) {
                    img {
                        bottom: -23%;
                        left: 13%;
                    }
                }
                &:nth-child(4) {
                    img {
                        bottom: -12%;
                        right: 5%;
                    }
                }
                &:nth-child(5) {
                    img {
                        top: 23%;
                        left: 27%;
                    }
                }
                &:nth-child(6) {
                    img {
                        top: 27%;
                        right: 5%;
                    }
                }
            }
        }

        .layer-4 {
            z-index: 7;
            transform: perspective(150px) translateZ(-500px);
            li {
                &:nth-child(1) {
                    img {
                        top: 3%;
                        left: -10%;
                    }
                }
                &:nth-child(2) {
                    img {
                        top: 64%;
                        right: -10%;
                    }
                }
                &:nth-child(3) {
                    img {
                        top: 72%;
                        left: 133%;
                    }
                }
                &:nth-child(4) {
                    img {
                        top: -20%;
                        right: -25%;
                    }
                }
                &:nth-child(5) {
                    img {
                        bottom: -10%;
                        left: -10%;
                    }
                }
                &:nth-child(6) {
                    img {
                        top: 18%;
                        right: -7%;
                    }
                }
                &:nth-child(7) {
                    img {
                        top: 3%;
                        left: 7%;
                    }
                }
            }
        }

        .layer-5 {
            z-index: 6;
            transform: perspective(150px) translateZ(-600px);
            li {
                &:nth-child(1) {
                    img {
                        bottom: -23%;
                        left: -15%;
                    }
                }
                &:nth-child(2) {
                    img {
                        top: -17%;
                        right: -20%;
                    }
                }
                &:nth-child(3) {
                    img {
                        top: -3%;
                        left: -26%;
                    }
                }
                &:nth-child(4) {
                    img {
                        top: -28%;
                        right: -25%;
                    }
                }
                &:nth-child(5) {
                    img {
                        top: -12%;
                        left: 7%;
                    }
                }
                &:nth-child(6) {
                    img {
                        bottom: -20%;
                        right: -25%;
                    }
                }
                &:nth-child(7) {
                    img {
                        bottom: -52%;
                        left: -30%;
                    }
                }
            }
        }

        .layer-6 {
            z-index: 5;
            transform: perspective(150px) translateZ(-700px);
            li {
                &:nth-child(1) {
                    img {
                        top: 147%;
                        left: -2%;
                    }
                }
                &:nth-child(2) {
                    img {
                        top: 100%;
                        right: 5%;
                    }
                }
                &:nth-child(3) {
                    img {
                        top: -33%;
                        left: 7%;
                    }
                }
                &:nth-child(4) {
                    img {
                        top: -2%;
                        right: -15%;
                    }
                }
                &:nth-child(4) {
                    img {
                        top: 70%;
                        left: 85%;
                    }
                }
                &:nth-child(5) {
                    img {
                        top: -10%;
                        left: 15%;
                    }
                }
            }
        }

        .layer-7 {
            top: -5vh;
            z-index: 4;
            transform: perspective(150px) translateZ(-800px);
            li {
                width: auto;
                height: auto;

                @media (max-width: $xs) {
                    width: 100%;
                }

                img {
                    &.floating {
                        cursor: pointer;
                    }
                    position: relative;
                }
                p {
                    color: #ccc;
                    background: #000;
                    padding: 10px 15px;
                    position: absolute;
                    display: inline-block;
                    font-size: 18px;
                    opacity: 0;
                    width: 1em;
                    box-sizing: content-box;
                    @media (max-width: $xs) {
                        font-size: 15px;
                        padding: 5px;
                    }
                }
                &:nth-child(1) {
                    top: 24%;
                    left: 18%;
                    @media (max-width: $xs) {
                        top: 25%;
                        left: -35%;
                    }
                    img {
                        width: 300px;
                        @media (max-width: 1280px) {
                            width: 250px;
                        }
                        @media (max-width: $xs) {
                            width: 40%;
                        }
                    }
                    p {
                        left: -35px;
                        @media (max-width: $xs) {
                            left: auto;
                        }
                    }
                }
                &:nth-child(2) {
                    top: 72%;
                    left: 46%;
                    @media (max-width: $xs) {
                        top: 70%;
                        left: 3%;
                    }
                    img {
                        width: 300px;
                        @media (max-width: 1280px) {
                            width: 250px;
                        }
                        @media (max-width: $xs) {
                            width: 40%;
                        }
                    }
                }
                &:nth-child(3) {
                    top: 29%;
                    left: 72%;
                    @media (max-width: $xs) {
                        top: 44%;
                        left: 22%;
                    }
                    img {
                        width: 300px;
                        @media (max-width: 1280px) {
                            width: 250px;
                        }
                        @media (max-width: $xs) {
                            width: 40%;
                        }
                    }
                }
                &:nth-child(4) {
                    top: -12%;
                    left: 41%;
                    @media (max-width: $xs) {
                        top: -2%;
                        left: 3%;
                    }
                    img {
                        width: 270px;
                        @media (max-width: 1280px) {
                            width: 230px;
                        }
                        @media (max-width: $xs) {
                            width: 40%;
                        }
                    }
                }
                &:nth-child(5) {
                    top: 66%;
                    left: 20%;
                    @media (max-width: $xs) {
                        top: 71%;
                        left: -27%;
                    }
                    img {
                        width: 270px;
                        @media (max-width: 1280px) {
                            width: 230px;
                        }
                        @media (max-width: $xs) {
                            width: 40%;
                        }
                    }
                }
            }
        }

        .layer-8 {
            transform: perspective(150px) translateZ(-900px);
            img {
                top: -10%;
                left: 15%;
                width: 100%;
                @media (max-width: $xs) {
                    width: 140%;
                    left: -10%;
                    top: 0;
                }
            }
        }
    }
}
